<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Companies</servlet-name>
        <servlet-class>mockstock.servlets.Companies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCompanies</servlet-name>
        <servlet-class>mockstock.servlets.UploadCompanies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.ws.rest.impl.container.servlet.ServletAdaptor</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UploadLtps</servlet-name>
        <servlet-class>mockstock.servlets.UploadLtps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teams</servlet-name>
        <servlet-class>mockstock.servlets.Teams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCompany</servlet-name>
        <servlet-class>mockstock.servlets.NewCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompany</servlet-name>
        <servlet-class>mockstock.servlets.UpdateCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadTeams</servlet-name>
        <servlet-class>mockstock.servlets.UploadTeams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTeam</servlet-name>
        <servlet-class>mockstock.servlets.NewTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeam</servlet-name>
        <servlet-class>mockstock.servlets.UpdateTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamShares</servlet-name>
        <servlet-class>mockstock.servlets.TeamShares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadTeamShares</servlet-name>
        <servlet-class>mockstock.servlets.UploadTeamShares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeamShares</servlet-name>
        <servlet-class>mockstock.servlets.UpdateTeamShares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTransaction</servlet-name>
        <servlet-class>mockstock.servlets.NewTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transactions</servlet-name>
        <servlet-class>mockstock.servlets.Transactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SensexCalculator</servlet-name>
        <servlet-class>mockstock.servlets.SensexCalculator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sensex</servlet-name>
        <servlet-class>mockstock.servlets.Sensex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>mockstock.servlets.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTeamShares</servlet-name>
        <servlet-class>mockstock.servlets.NewTeamShares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backup</servlet-name>
        <servlet-class>mockstock.servlets.Backup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopTeams</servlet-name>
        <servlet-class>mockstock.servlets.TopTeams</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Companies</servlet-name>
        <url-pattern>/Companies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ltp</servlet-name>
        <servlet-class>mockstock.servlets.Ltp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ltp</servlet-name>
        <url-pattern>/Ltp</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>UploadCompanies</servlet-name>
        <url-pattern>/UploadCompanies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadLtps</servlet-name>
        <url-pattern>/UploadLtps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teams</servlet-name>
        <url-pattern>/Teams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCompany</servlet-name>
        <url-pattern>/NewCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompany</servlet-name>
        <url-pattern>/UpdateCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTeams</servlet-name>
        <url-pattern>/UploadTeams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTeam</servlet-name>
        <url-pattern>/NewTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeam</servlet-name>
        <url-pattern>/UpdateTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamShares</servlet-name>
        <url-pattern>/TeamShares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTeamShares</servlet-name>
        <url-pattern>/UploadTeamShares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeamShares</servlet-name>
        <url-pattern>/UpdateTeamShares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTransaction</servlet-name>
        <url-pattern>/NewTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transactions</servlet-name>
        <url-pattern>/Transactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SensexCalculator</servlet-name>
        <url-pattern>/SensexCalculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sensex</servlet-name>
        <url-pattern>/Sensex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTeamShares</servlet-name>
        <url-pattern>/NewTeamShares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backup</servlet-name>
        <url-pattern>/Backup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopTeams</servlet-name>
        <url-pattern>/TopTeams</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
