@CHARSET "ISO-8859-1";

table.newEntry
{
	border-collapse: collapse;
        vertical-align: center;
}
body.newEntry
{
	text-align: center;
}
td.newEntry
{
	text-align: left;
}
th.newEntry
{
	background-color: brown;
	background-image: url('imgs/Header-Background2.jpg');
	background-repeat: repeat-x;
	border-color: black;
	border: double;
	border: thin;
}